<page-header [title]="l('Roles')"></page-header>


<nz-card [nzExtra]="extraTpl">

  <ng-template #extraTpl>
    <button nz-button (click)="refresh()" nzShape="circle">
      <i class="anticon anticon-reload"></i>
    </button>
    <button nz-button (click)="createOrUpdate()" nzShape="circle" nzType="primary">
      <i class="anticon anticon-plus"></i>
    </button>
  </ng-template>


  <st [data]="dataList" [ps]="pageSize" [page]="page" [columns]="columns" [total]="totalItems" [loading]="isTableLoading" (change)="show($event)"></st>
</nz-card>