<page-header>
  <ng-template #content>
    <div class="page-header">
      <div class="avatar" style="text-align: center">
        <!-- https://upload-images.jianshu.io/upload_images/1979022-b6bb0a2dad6c7f3d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240 -->

        <img class="img" src=" https://upload-images.jianshu.io/upload_images/1979022-b6bb0a2dad6c7f3d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
          width="100px" height="100px">
        <!-- <img class="img" src="https://mp.weixin.qq.com/rr?timestamp=1532171705&src=3&ver=1&signature=Mr7jG2uBte-*FqiCN9-yVKRU-YZWVWKfpioWBN2d7waS1kpnma3ffiERhirb0xbfAtqOIkNsFY*5b1pgcRTfRgb7arw5gX1uwgI4QfAIiJg="
          width="100px" height="100px"> -->
        <span>微信扫一扫关注</span>
      </div>
      <div class="desc">
        <div class="desc-title">有事没事就请访问
          <a href="//www.52abp.com" target="_blank">52ABP社区</a>
        </div>
        <div>假砖家 | 我们是一群业余的搞一个专业的事情。</div>
      </div>
    </div>
  </ng-template>
  <ng-template #extra>
    <div class="page-extra">
      <div>
        <p>项目数</p>
        <p>56</p>
      </div>
      <div>
        <p>团队内排名</p>
        <p>8
          <span> / 24</span>
        </p>
      </div>
      <div>
        <p>项目访问</p>
        <p>2,223</p>
      </div>
    </div>
  </ng-template>

</page-header>